#myId{
    color: blue;
}

.myClass{
    color: rgb(255, 64, 0);
}

.hide{
    display: none;
    visibility: hidden;
}

.box{
    background-color: rgb(255, 208, 0);
    height: 80px;
    width: 100px;
    margin: 3%;
    align-items: center;
    display: flex;
    justify-content: center;
}