*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0EBD8;
    text-align: center;
}

.container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: #F0EBD8;
    background-color: #3E5C76;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0d1321;
    color: #F0EBD8;
    border-radius: 1rem;

}

.msg{
    color: #3E5C76;
    font-size: 3rem;
}